@font-face {
   font-family: "Lato";
   src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
   font-display: swap;
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: "Lato";
   src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
   font-display: swap;
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: "Lato";
   src: url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff");
   font-display: swap;
   font-weight: 900;
   font-style: normal;
}

body {
   font-family: Lato, sans-serif;
   color: #424551;
}
.container {
   max-width: 810px;
   margin: 0 auto;
}
.header {
   margin-bottom: 92px;
}
.header__title {
   font-size: 46px;
   font-weight: 900;
   line-height: 130%;
   color: #1E212C;
}
.page {
   margin-bottom: 100px;
}
.main__content {
   margin-bottom: 60px;
}
.main__content img {
   max-width: 100%;
}
.main__info.info {
   margin-bottom: 100px;
}
.main__info h2 {
   font-weight: 700;
   font-size: 20px;
   line-height: 150%;
   color: #1E212C;
}
.main__info p {
   margin-bottom: 24px;
   line-height: 160%;
}
.info-first__block {
   margin-bottom: 48px;
}
.info-first__title {
   margin-bottom: 24px;
}
.info-second__title {
   padding-left: 58px;
   margin-bottom: 48px;
}
.info-second__menu {
   margin-bottom: 24px;
   padding-left: 32px;
}
li.info-second__item {
   margin-bottom: 4px;
   line-height: 160%;
}
.experiment__one {
   max-width: 500px;
   min-height: 30px;
   background-color: #7fffd4;
   border-radius: 50px 20px 40px 15px;
   overflow: hidden;
   box-shadow: 10px 10px 50px #06a37c, inset 15px 5px 40px #ca3737;
   margin: 0 auto;
   color: #000;
   margin-bottom: 100px;
}
.experiment__two {
   border-radius: 50%;
   border: 3px dotted #ca3737;
   background-color: #6d7ebb;
   width: 300px;
   height: 300px;
   margin: 0 auto;
   margin-bottom: 100px;
   opacity: 0.3;
   text-align: center;
}
.experiment__two a {
   font-size: 50px;
   opacity: 0;
}
.experiment__three {
   font-size: 0px;
   padding: 10px;
   background-color: #ca3737;
   color: beige;
   outline: 3px solid #000;
   text-align: center;
   margin-bottom: 100px;
}
.experiment__three a {
   background-color: #1E212C;
   font-size: 20px;
   display: inline-block;
   padding: 20px;
}
.experiment__four {
   background-color: #b7f806;
   margin-bottom: 100px;
   border-top: 5px solid #000;
   border-bottom: 10px dashed #ca3737;
   border-left: 15px dotted #6d7ebb;
   border-right: 5px double rgb(148, 4, 4);
}
.four-experiment .four-experiment__text {
   font-weight: 700;
   font-size: 30px;
   padding: 50px;
   color: #1E212C;
}
.four-experiment__item {
   background-color: red;
   width: 100%;
   height: 500px;
   text-align: center;
   visibility: hidden;
}
.four-experiment__item a {
   font-size: 100px;
}
.experiment__five {
   display: none;
}
.experiment__six {
   margin-bottom: 100px;
   max-height: 100px;
   background-color: #6d7ebb;
   color: #f0f0f0;
   padding: 15px 30px;
   min-width: 100px;
   overflow: scroll;
}
.experiment__seven {
   margin: 0 0 0 auto;
   border-radius: 10px;
   width: 200px;
   background-color: #06a37c;
   text-align: center;
   margin-bottom: 100px;
   padding: 30px;
}
.experiment__seven p {
   color: #ff0000;
   font-size: 30px;
}
.experiment__eight a{
   display: inline-block;
	background-color: #389108;
	padding: 30px;
	color: #fff;
	border-radius: 30px;
	box-shadow: 0 10px 0 #000;
	transition: all 0.3s ease 0s;
}
.experiment__eight a:hover {
   margin-top: 3px;
	box-shadow: 0 2px 0 #000;
}
.footer__block {
   text-align: center;
}
.footer__text {
   font-size: 30px;
}
.footer .footer__link {
   color: #ca3737;
   font-size: 50px;
   text-transform: uppercase;
}