@font-face {
   font-family: "Lato";
   src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
   font-display: swap;
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: "Lato";
   src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
   font-display: swap;
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: "Lato";
   src: url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff");
   font-display: swap;
   font-weight: 900;
   font-style: normal;
}

body {
   font-family: "Lato", sans-serif;
   color: #424551;
   line-height: 160%;
}
[class*="__container"] {
   max-width: 1230px;
   margin: 0 auto;
}
.main {
   margin-bottom: 180px;
}
.main__about:not(:last-child) {
   margin-bottom: 180px;
}
.about-main__title {
   font-weight: 900;
   font-size: 46px;
   line-height: 130%;
   color: #1E212C;
}
.about-main__title:not(:last-child) {
   margin-bottom: 40px;
}
.about-main__text:not(:last-child) {
   margin-bottom: 48px;
}
.about-main__sub-title {
   font-size: 28px;
   font-weight: 700;
   line-height: 150%;
   color: #1E212C;
}
.about-main__sub-title:not(:last-child) {
   margin-bottom: 24px;
}
.about-main__list > *:last-child {
   margin-bottom: 0px;
}
.about-main__item {
   background: url(../img/icon1.svg) 0 5px no-repeat;
   padding-left: 32px;
   margin-bottom: 4px;
   min-height: 26px;
}

.cody-main__header:not(:last-child) {
   margin-bottom: 32px;
}
.cody-main__sub-title {
   line-height: 150%;
   font-weight: 700;
   letter-spacing: 1px;
   color: #1E212C;
}
.cody-main__sub-title:not(:last-child) {
   margin-bottom: 8px;
}
.cody-main__title {
   font-weight: 900;
   font-size: 46px;
   line-height: 130%;
   color: #1E212C;
}
.cody-main__title:not(:last-child) {
   margin-bottom: 16px;
}
.cody-main__txt {
   font-size: 20px;
   line-height: 150%;
   color: #787A80;
}
.cody-main__txt:not(:last-child) {
   margin-bottom: 10px;
}
.cody-main__list:not(:last-child) {
   margin-bottom: 32px;
}
.cody-main__list > *:last-child {
   margin-bottom: 0px;
}
.cody-main__item {
   font-weight: 700;
   margin-bottom: 4px;
}

.cody-main__item:nth-child(1):before {
   content: "";
   background: url(../img/Star.svg) 0 0 no-repeat;
   width: 16px;
   height: 16px;
   display: inline-block;
   margin-right: 8px;
}

.cody-main__item:nth-child(2):before {
   content: "";
   background: url(../img/Profile.svg) 0 0 no-repeat;
   width: 16px;
   height: 16px;
   display: inline-block;
   margin-right: 8px;
}

.cody-main__item:nth-child(3):before {
   content: "";
   background: url(../img/Play.svg) 0 0 no-repeat;
   width: 16px;
   height: 16px;
   display: inline-block;
   margin-right: 8px;
}

.cody-main__text p {
   font-size: 16px;
   color: #424551;
}
.cody-main__text:not(:last-child) {
   margin-bottom: 32px;
}
.experiments:not(:last-child) {
   margin-bottom: 180px;
}
.experiments__one {
   min-height: 200px;
   max-width: 800px;
   margin: 0 auto;
   padding: 20px;
   background-color: bisque;
}
.experiments__one:not(:last-child) {
   margin-bottom: 180px;
}
.experiments__one:hover p {
   visibility: visible;
   opacity: 1;
}
.experiments__one p {
   font-size: 30px;
   font-weight: 700;
   line-height: 120%;
   opacity: 0;
   visibility: hidden;
}
.experiments__one p:first-of-type {
   color: blue;
}
.experiments__one p:last-of-type {
   color: rgb(211, 79, 204);
}
.experiments__one p:nth-child(even) {
   color: rgb(83, 218, 150);
}
.experiments__one p:not(:last-child) {
   margin-bottom: 20px;
}
.experiments__two {
   min-height: 200px;
   max-width: 700px;
   margin: 0 auto;
   background-color: cyan;
   text-align: center;
}
.experiments__two:not(:last-child) {
   margin-bottom: 180px;
}
.experiments__two a {
   font-size: 50px;
   line-height: 110%;
}
ul li {
   margin-bottom: 20px;
}
ul ul {
   display: none;
}
ul li:hover ul {
   display: block;
}
.active:active {
   color: darkorange;
}
.visited:visited {
   color: red;
}
.focus:focus {
   outline: 1px solid darkmagenta;
}
.experiments__three {
   text-align: center;
}
.target__block {
   padding: 20px;
   background-color: cornflowerblue;
   color: #fff;
   display: none;
   max-width: 400px;
   margin: 0 auto;
}
.target__block:target {
   display: block;
}
.experiments__three a{
   font-size: 40px;
   line-height: 120%;
}
.ord__list {
   counter-reset: item;
}
.ord__list li {
   font-size: 30px;
}
.ord__list li:nth-child(odd) {
   color: blue;
}
.ord__list li::before {
   counter-increment: item;
   content: "("counter(item)") ";
   color: red;
}
.ord__list li::after {
   content: "";
   background: url(../img/icon1.svg) 0 4px no-repeat;
   margin-left: 10px;
   width: 20px;
   height: 20px;
   display: inline-block;
}
.ord__list li:not(:last-child) {
   margin-bottom: 30px;
}


.page__game {
   background-color: #a0aee7;
   min-height: 600px;
   padding-top: 50px;
   position: relative;
}
.block__one {
   font-size: 50px;
   line-height: 120%;
   text-align: center;
   margin: 0 auto;
   max-width: 500px;
   height: 70px;
   background-color: #787A80;
   color: #fff;
}
.block__one:hover + div{
   visibility: visible;
}
.block__two {
   max-width: 50px;
   min-height: 100px;
   background-color: brown;
   margin: 0 auto;
   visibility: hidden;
}
.block__two:hover + div, 
div:hover {
   visibility: visible;
}
.block__three {
   max-width: 52%;
   min-height: 30px;
   background-color: #00156b;
   visibility: hidden;
}
.block__three:hover + div, 
div:hover {
   visibility: visible;
}
.block__four {
   max-width: 20px;
   min-height: 200px;
   background-color: coral;
   visibility: hidden;
}
.block__four:hover + div, 
div:hover {
   visibility: visible;
}
.block__five {
   min-height: 15px;
   background-color: rgb(21, 255, 0);
   visibility: hidden;
}
.block__five:hover + div, 
div:hover {
   visibility: visible;
}
.block__six {
   max-width: 13px;
   min-height: 100px;
   background-color: rgb(174, 0, 255);
   margin: 0 0 0 auto;
   visibility: hidden;
}
.block__six:hover + div, 
div:hover {
   visibility: visible;
}
.block__seven {
   max-width: 50.5%;
   min-height: 10px;
   background-color: rgb(255, 0, 0);
   margin: 0 0 0 auto;
   visibility: hidden;
}
.block__seven:hover + div, 
div:hover {
   visibility: visible;
}
.block__eight {
   margin: 0 auto;
   max-width: 10px;
   min-height: 20px;
   background-color: gold;
   visibility: hidden;
}
.block__eight:hover + div, 
div:hover{
   visibility: visible;
}
.block__nine {
   position: absolute;
   top: 0;
   left: 0;
   background: url(../img/1.jpg) center / 800px 500px no-repeat;
   width: 100%;
   height: 100%;
   visibility: hidden;
}
.block__nine:hover + div,
div:hover {
   visibility: visible;
}